CONFIG_NET=y
CONFIG_NTP=y
CONFIG_I2C_ENABLE_BUS_0=y
CONFIG_I2C0_SCL_PIN_GP21=y
CONFIG_I2C0_SDA_PIN_GP20=y
CONFIG_I2C_DEBUG_BUS=y
CONFIG_LITTLE_FS=y
CONFIG_LFS_RAMFS=y
CONFIG_LFS_FLASH=y
CONFIG_LFS_FLASH_W25QXX=y
